.infsys {
    position: absolute;
    margin-left: 960px;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.link-body-emphasis, .infsys {
    color: black !important;  /* Черный цвет текста */
}

body {
    background-color: #ffffff; /* Цвет фона */
    background-size: 50px 50px; /* Размер ячейки узора */
    background-image: linear-gradient(45deg, #ececca 25%, transparent 25%, transparent 75%, #ececca 75%, #ececca),
                      linear-gradient(45deg, #ececca 25%, transparent 25%, transparent 75%, #ececca 75%, #ececca);
    background-position: 0 0, 25px 25px; /* Положение узора */
}